<nav class="navbar navbar-expand-lg navbar-dark sticky-top "  #stickyMenu >
      <a class="navbar-brand " href="#"><img class="img-fluid img-responsive animated swing"
          src="../../../../assets/images/heart.png"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLinkActive="active" routerLink="home" data-toggle="collapse"
            data-target=".navbar-collapse.show">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="hospitals-clinics" data-toggle="collapse"
            data-target=".navbar-collapse.show">Hospitals</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="insurance" data-toggle="collapse"
            data-target=".navbar-collapse.show">Insurance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="pharmacies" data-toggle="collapse"
            data-target=".navbar-collapse.show">Pharmacies</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="collapse" data-target=".navbar-collapse.show">Contact us</a>
        </li> -->

      </ul>
    </div>

</nav>