
.navbar{
    background-color:#105674;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    z-index: 10000;
}
.nav-link{
    color:white !important;
}
.navbar-nav{
    text-align: initial;
  }
.navbar-brand img{
    width: 3em;
}

.active{
    color:#BFA947;
  
  }
  .navbar-nav .nav-link.active {
    -webkit-box-shadow: 0 -3px 0 0 #00a887 inset;
    box-shadow: 0 -3px 0 0 #00a887 inset;
}

  .navbar-brand{
    text-align: initial;
  }
  .navbar-toggler-icon {
    background-image: url(../../../../assets/images/menu.png);
  
  }
    /* Style the buttons that are used to open the tab content */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #fff;
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #fff;
      padding-right: 12px;

   
    }
    
    .tab button{
      background-color: inherit;
      outline: none;
      cursor: pointer;
      padding: 5px;
      color: black;
      transition: .3s;
      font-size: 15px;
      text-align: center;
  }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
  
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
  }
  .icon{
    color:#105674;
}
i{
  text-align: center;
  vertical-align: middle;
}
.tablinks a{
  color:#105674;
}
.tab a.active {
  color:#BFA947;

}
