
.navbar{
    background-color:#105674;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    z-index: 10000;
}
.nav-link{
    color:white !important;
}
.navbar-nav{
    text-align: initial;
  }
.navbar-brand img{
    width: 3em;
}

.active{
    color:#BFA947;
  
  }
  .navbar-nav .nav-link.active {
    -webkit-box-shadow: 0 -3px 0 0 #00a887 inset;
    box-shadow: 0 -3px 0 0 #00a887 inset;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}
  .navbar-brand{
    text-align: initial;
  }
  .navbar-toggler-icon {
    background-image: url(../../../../assets/images/menu.png);
  
  }