
h3{
    text-align: center;
}
.card-body.card-body1{
    background-color: #105674;
    color:white;
    border-bottom: 1px solid #ffff;
}
.card-body.card-body2{
    background-color: #b0b1b6;
    color:white;

}
.btn{
    background-color: transparent;
    border-color: white;
}
.card-img-top{
    width: 8rem;
    height: 8rem;
    background-color: white;
}


.card-title{
    font-weight: bold;
}
.card-text{
    cursor: pointer;
}
p{
    margin-bottom: 0;
}