<!-- slider section start -->
<section [style.background-image]="'url(' +CityBanner+ ')'" class="home_banner">
  <div class="container">
    <div class="row fullscreen d-flex justify-content-center align-items-center">
      <!-- <app-categories class="col-12"></app-categories>-->
      <div class="col-12">
        <div class="row" style="    padding-top: 15px;">
          <div class="col-xl-9 col-lg-9 col-md-9 col-xs-12 col-sm-12 slider">
            <div id="carouselExampleIndicators " class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" style="border:2px solid #2d2c2e">
                <div class="carousel-item active">
                  <img class="d-block w-100 img-fluid sliderImg" src="../../../assets/images/image1.jpg"
                    alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 img-fluid sliderImg" src="../../../assets/images/image2.jpg"
                    alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 img-fluid sliderImg" src="../../../assets/images/image3.jpg"
                    alt="Third slide">
                </div>
              </div>
            </div>
          </div>
          <div class=" col-xl-3 col-lg-3 col-md-3 col-xs-12 col-sm-12">
            <div class="containerImg container-block">
              <img src="../../../assets/images/image.png" class="img-responsive img-fluid" alt="Snow"
                style="height:23rem; width:100%">
              <div class="inner-block">
                <div class="slider-top-right"></div>
              </div>

            </div>
          </div>
        </div>
        <div class="row text-center justify-content-center" style="align-items: center;display: flex;
        justify-content: center;">
          <div class="col-12 text-center">
            <div class="containerArrow text-center">
              <div class="chevron"></div>
              <div class="chevron"></div>
              <div class="chevron"></div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<!-- slider section end -->

<!-- statistics section start -->
<div class="container-fluid">
    <div class="row " style="padding-top: 56px;" data-aos="fade-up">
        <div class="col-xl-4 col-md-4 col-sm-12  d-flex justify-content-center">
            <div class="card card1" style="width: 18rem;">
                <i class="fa fa-search" aria-hidden="true"></i>
                <div class="card-body">
                    <h4 class="card-text">Find Top</h4>
                    <app-animated-digit [digit]="130" [duration]="1000"></app-animated-digit>
                    <h3 class="card-title">Hospitals</h3>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-12  d-flex justify-content-center">
            <div class="card card2" style="width: 18rem;">
                <i class="fa fa-building" aria-hidden="true"></i>
                <div class="card-body">
                    <h4 class="card-text">Find Top</h4>
                    <app-animated-digit [digit]="40" [duration]="1000"></app-animated-digit>
                    <h2 class="card-title">Insurance Companies</h2>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-12  d-flex justify-content-center">
            <div class="card card1" style="width: 18rem;">
                <i class="fa fa-medkit" aria-hidden="true"></i>
                <div class="card-body">
                    <h4 class="card-text">Find Top</h4>
                    <app-animated-digit [digit]="42" [duration]="1000"></app-animated-digit>
                    <h3 class="card-title">Pharmacies</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- statistics section end -->

<div class="container">
    <div class="row " style="padding-top: 56px;">
        <div class="col-lg-6 col-md-6 col-xl-6 col-sm-12 justify-content-center" data-aos="fade-right"
            data-aos-easing="linear" data-aos-duration="1500">

            <img class="img-fluid img-responsive" src="../../../assets/images/MainBanner.jpg"
                style="    border: 1px solid #5cba7e">
        </div>
        <div class="col-lg-6 col-md-8 col-xl-6 col-sm-12 " 
           >
            <div class="text-area  ">
                <p>The success of hospitals and healthcare providers depends on the quality of their service. But in an
                    age where most of us look up information online before making almost any decision, a well-designed
                    healthcare website is no less important.</p>
                <p>Most of the people visit a hospital website to get information. So these sites must be very
                    user-friendly, easy to navigate and extremely well-organised with a pleasing aesthetics.</p>
                <p>Based on these criteria we’ve listed some of the best medical and healthcare websites, mostly from
                    UAE. Any website for a doctor’s clinic or a hospital can follow the good parts of these sites.</p>
            </div>
        </div>

    </div>
    <!-- hospitals slider start -->
    <div class="row justify-content-center" style="padding-top: 56px;" data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="1500">
        <div class="col-lg-9 col-md-9 col-xl-9 col-sm-12">
            <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
        </div>
    </div>
    <!-- hospitals slider end -->
</div>