<!-- select your city  -->
<section [style.background-image]="'url(' +CityBanner+ ')'" style="background-size: cover;
  background-repeat: no-repeat;min-height: 360px;background-position: center;" class="category_banner">

    <div class="container">
        <div class="row fullscreen d-flex align-items-center">
            <div class="col-12 text-center m-auto" style=" padding: 7rem;"><br>
                <form>
                    <div class="form-group justify-content-center">
                        <select class="custom-select" name="uae" (change)='onUAESelected($event)' required>
                            <option [value]="undefined" disabled selected hidden>Select Your City</option>
                            <option>
                                Abu Dhabi
                            </option>
                            <option>
                                Dubai
                            </option>
                            <option>
                                Sharjah
                            </option>
                            <option>
                                Ras Al Khaimah
                            </option>
                        </select>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row p-4 ">
        <!-- pharmacies list section start -->
        <div class="col-lg-7 col-md-7 col-xl-7 col-sm-7 p-9">
            <div class="card">
                <div class="card-body card-body1 text-center"
                    *ngFor="let pharmacy of pharmacies | paginate : {itemsPerPage: pageSize,currentPage: page, totalItems: count};let i = index">
                    <div class="row card-text" (click)="PharmacyDetails(pharmacy._id)">
                        <div class="col-lg-3 col-md-12 col-xl-3 col-sm-12">
                            <img class="card-img-top" [src]="pharmacy.logo" alt="Card image cap">
                        </div>
                        <div class="col-lg-9 col-md-12 col-xl-9 col-sm-12 text-left">
                            <h5 class="card-title">{{pharmacy.name}}</h5>
                            <p> <strong>Address</strong> : {{pharmacy.address}}</p>
                            <p><strong>Location</strong>: {{pharmacy.location}}</p>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="text-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
                    (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
        <!-- pharmacies list section end -->

        <!-- paragraph section start -->
        <div class="col-lg-5 col-md-5 col-xl-5 col-sm-5 p-9">
            <h2 class="paragraph-title">List of Best Pharmacies Providers in UAE (2021)</h2>
            <p>
                Pharmacy profession is evolving steadily in the United Arab Emirates (UAE). This article presents a
                brief overview of the profession, and highlights some of the advances and challenges that face pharmacy
                in the UAE.

                The United Arab Emirates (UAE) is one of the Gulf Cooperation Council Countries of the Middle East. It
                is a constitutional federation that was established in 2nd of December 1971. The UAE constitutes seven
                Emirates; Abu Dhabi (the capital), Dubai, Sharjah, Ajman, Umm Al‐Qaiwain, Ras Al‐Khaimah and Fujairah.
                It lies between Oman and Saudi Arabia, and has coastal borders on the Arabian Gulf and the Gulf of Oman.
                The UAE is a rich country and has a gross domestic product (GDP), per capita, of around $49,116 (PPP
                US$) [1]. Nearly one third of the GDP is attributed to petroleum, oil and gas [2]. The UAE has a diverse
                and expanding population, estimated to be around four and a half million. UAE citizens however are
                considerably outnumbered by expatriates (non‐citizens), they constitute approximately only one fifth of
                the overall population. Seventy four per cent of the UAE population aged between 15‐64 years are
                expatriates [1]. Expatriates make up the majority of the work force in the country and mostly come from
                other Arab countries, Iran, South and South East Asia (predominantly from India, Pakistan and the
                Philippines).

                The country’s total expenditure on healthcare as a percentage of GDP is 2.6% [3]. It is estimated that
                71.6% of that expenditure is provided by the Government and 28.4% is private expenditure. The majority
                (77.9%) of private expenditure on health is attributed to out‐of‐pocket expenditure [3]. The continuous
                increased demand due to the large influx of expatriate workers into the country, especially in the past
                five years, and rising costs of technology are believed to have over‐loaded the publicly funded
                healthcare services and increased the UAE Ministry of Health’s budget by 4.5% per year [4]. This
                instigated the Government to invest in the private health sector and mandate medical insurance for
                expatriates in Abu Dhabi, the largest Emirate in terms of size and population (1.7 million) [5]. Abu
                Dhabi’s new health insurance program includes three types of policies; basic, enhanced and emergency
                health policies [5]. By 2007,1.3 million expatriates residing in Abu Dhabi were covered by health
                insurance [5]. The remaining six Emirates continue to follow the previous health system in delivering
                healthcare. Whereby, expatriates are required to purchase annual healthcare cards to receive subsidised
                healthcare services (not including pharmaceuticals). Privatehealth insurance in the remaining six
                Emirates is voluntarily available to whoever can afford it.

                Also in recent years, new health authorities namely the Health Authority of Abu Dhabi and the Department
                of Health and Medical Services of Dubai emerged taking on the management and regulation of health
                services in Abu Dhabi and Dubai respectively. This role includes licensing pharmacies and registering
                pharmacists. The new authorities collaborate and have formed partnerships with several international
                institutions. For example the Health Authority of Abu Dhabi functions in partnership with Johns Hopkins
                and the Cleveland Clinic among other institutions [6]. Health and pharmacy services in the remaining
                five Emirates continue to be under the mandate of the UAE Ministry of Health.Pharmacy profession is
                evolving steadily in the United Arab Emirates (UAE). This article presents a brief overview of the
                profession, and highlights some of the advances and challenges that face pharmacy in the UAE.

                The United Arab Emirates (UAE) is one of the Gulf Cooperation Council Countries of the Middle East. It
                is a constitutional federation that was established in 2nd of December 1971. The UAE constitutes seven
                Emirates; Abu Dhabi (the capital), Dubai, Sharjah, Ajman, Umm Al‐Qaiwain, Ras Al‐Khaimah and Fujairah.
                It lies between Oman and Saudi Arabia, and has coastal borders on the Arabian Gulf and the Gulf of Oman.
                The UAE is a rich country and has a gross domestic product (GDP), per capita, of around $49,116 (PPP
                US$) [1]. Nearly one third of the GDP is attributed to petroleum, oil and gas [2]. The UAE has a diverse
                and expanding population, estimated to be around four and a half million. UAE citizens however are
                considerably outnumbered by expatriates (non‐citizens), they constitute approximately only one fifth of
                the overall population. Seventy four per cent of the UAE population aged between 15‐64 years are
                expatriates [1]. Expatriates make up the majority of the work force in the country and mostly come from
                other Arab countries, Iran, South and South East Asia (predominantly from India, Pakistan and the
                Philippines).

                The country’s total expenditure on healthcare as a percentage of GDP is 2.6% [3]. It is estimated that
                71.6% of that expenditure is provided by the Government and 28.4% is private expenditure. The majority
                (77.9%) of private expenditure on health is attributed to out‐of‐pocket expenditure [3]. The continuous
                increased demand due to the large influx of expatriate workers into the country, especially in the past
                five years, and rising costs of technology are believed to have over‐loaded the publicly funded
                healthcare services and increased the UAE Ministry of Health’s budget by 4.5% per year [4]. This
                instigated the Government to invest in the private health sector and mandate medical insurance for
                expatriates in Abu Dhabi, the largest Emirate in terms of size and population (1.7 million) [5]. Abu
                Dhabi’s new health insurance program includes three types of policies; basic, enhanced and emergency
                health policies [5]. By 2007,1.3 million expatriates residing in Abu Dhabi were covered by health
                insurance [5]. The remaining six Emirates continue to follow the previous health system in delivering
                healthcare. Whereby, expatriates are required to purchase annual healthcare cards to receive subsidised
                healthcare services (not including pharmaceuticals). Privatehealth insurance in the remaining six
                Emirates is voluntarily available to whoever can afford it.

                Also in recent years, new health authorities namely the Health Authority of Abu Dhabi and the Department
                of Health and Medical Services of Dubai emerged taking on the management and regulation of health
                services in Abu Dhabi and Dubai respectively. This role includes licensing pharmacies and registering
                pharmacists. The new authorities collaborate and have formed partnerships with several international
                institutions. For example the Health Authority of Abu Dhabi functions in partnership with Johns Hopkins
                and the Cleveland Clinic among other institutions [6]. Health and pharmacy services in the remaining
                five Emirates continue to be under the mandate of the UAE Ministry of Health.
            </p>
        </div>
        <!-- paragraph section end -->
    </div>
</div>